@import 'normalize.css/normalize';
@import '~@/styles/bootstrap/bootstrap-grid.scss';
@import '~@/styles/hamburger';
// @import url("https://use.typekit.net/pxd8seh.css");
@import url('https://use.typekit.net/uza3qya.css');

html {
  font-family: 'myriad-pro', sans-serif;
  font-size: 16px;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  @include md{
    font-size: 18px;
  }
}

body {
  min-width: 320px;
  overflow-x: hidden;
}
.body--no-overflow{
  overflow-y: hidden;
  padding-right: 17px;
}
a {
  color: $color-primary;
}

img {
  max-width: 100%;
}

input,
textarea {
  background: $color-gray;
  border: none;
  padding: 10px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
textarea{
  resize: vertical;
}
button, .button {
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  background: transparent;
  font-size: .889rem;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: color .2s ease-out, background-color .2s ease-out;
  &[disabled] {
    color: $color-darkgray;
    border-color: $color-darkgray;
  }
  &:hover{
    color: white;
    background: $color-primary;
  }
  &.secondary{
    color:$color-secondary;
    border-color: $color-secondary;
    &:hover{
      color: white;
      background: $color-secondary;
    }
  }
}

h2 {
  font-size: 1.556rem;
}

section {
  margin-bottom: 50px;
  @include md{
    margin-bottom: 100px;
  }
}

.bold {
  font-weight: bold;
}
