@import 'normalize.css/normalize';
@import '~@/styles/bootstrap/bootstrap-grid.scss';
// @import url("https://use.typekit.net/pxd8seh.css");
@import url("https://use.typekit.net/uza3qya.css");

html {
  font-family: 'myriad-pro', sans-serif;
  font-size: 18px;
  font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 400;
}

a{
  color: $color-primary;
}

img{
  max-width: 100%;
}
button{
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  background: transparent;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}

.bold{
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

section{
  margin-bottom: 100px;
}